# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
.env.local
.env.production.local

# Node
node_modules/
build/
.env.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
token.txt
